{{ define "content" }}
    <section class="container list">
        <h1>{{.Title}}</h1>
        {{.Content}}
            {{ range .Pages }}
            <a style="text-decoration: none; text-decoration: none;" href="{{.Permalink}}">
                <div style="flex: 1; border-width: 5px; border-color: #dadada; border-radius: 10px; border-style:solid; padding: 5px; margin: 10px;">
            <h1>{{.Title}}</h1>
            <h6>{{.Description}}</p>
                </div>
            </h6>
            {{end}}
    </section>
{{end}}
